.small-grid {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.small-grid .checked {
  background-color: red;
}

.small-cell {
  outline: 1px solid black;
  width: 10px;
  height: 10px;
}

#small-cards {
  display: flex;
  flex-wrap: wrap;
}

.card-div {
  margin: 5px;
}

#most-recent-num{
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 3px solid black;
  display: inline-block;
}